services: 
  cliente_db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: cliente-db-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=System32
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  clientes1:
    build:
      context: ./Licoreria.Clientes/
      dockerfile: Dockerfile
    container_name: clientes1
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - cliente_db


volumes:
  sql_data:
