services: 
  cliente-loadbalancer:
    image: nginx:1.29-alpine
    container_name: cliente-loadbalancer
    ports:
      - "5001:80"
    volumes:
      - ./cliente-loadbalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - clientes1
      - clientes2

  cliente_db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: cliente-db-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=System32
      - MSSQL_PID=Developer
    ports:
      - "1435:1433"
    volumes:
      - sql_data:/var/opt/mssql

  clientes1:
    build:
      context: ./Licoreria.Clientes/
      dockerfile: Dockerfile
    container_name: clientes1
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - cliente_db
      - kafka-broker

  clientes2:
    build:
      context: ./Licoreria.Clientes/
      dockerfile: Dockerfile
    container_name: clientes2
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - cliente_db
      - kafka-broker

  ventas_db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: ventas-db-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=System32
      - MSSQL_PID=Developer
    ports:
      - "1434:1433"
    volumes:
      - ventas_sql_data:/var/opt/mssql

  ventas:
    build:
      context: ./Licoreria.Ventas/
      dockerfile: Dockerfile
    container_name: ventas
    ports:
      - "5003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - ventas_db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.4
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000      

  kafka-broker:
    depends_on:
      - zookeeper
    image: confluentinc/cp-kafka:7.9.4
    ports:
      - "9092:9092"
    container_name: kafka-broker
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka-broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  init-kafka:
    depends_on:
      - kafka-broker
    image: confluentinc/cp-kafka:7.9.4
    container_name: init-kafka
    entrypoint: ["/bin/sh", "-c"]
    command: |
      "
      kafka-topics --bootstrap-server kafka-broker:29092 --list
      echo -e 'Creating kafka topics...'
      kafka-topics --bootstrap-server kafka-broker:29092 --create --if-not-exists --topic ventas --replication-factor 1 --partitions 3
      echo -e 'Successfully created the following topics:'
      kafka-topics --bootstrap-server kafka-broker:29092 --list
      "

volumes:
  sql_data:
  ventas_sql_data:
